<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>details</title>
</head>
<body>

    <header>
        <h1>
            Book Details :
        </h1>
    </header>
    
<main>

<div class="allContainer">

<div class="container">
    <img src="<%=data.image%>" alt="">
<h3><%=data.title%></h3>
<h4><%=data.author%></h4>
<p><%=data.description%></p>
<h5><%=data.isbn%></h5>
<h6><%=data.bookshelf%></h6>

<div>
<button class="showdet">Update This</button>
<form action="/update/<%=data.id%>?_method=put" method="POST" class="formdet">
<input type="text" name="image" value="<%=data.image%>">
<input type="text" name="title" value="<%=data.title%>">
<input type="text" name="author" value="<%=data.author%>">
<input type="text" name="description" value="<%=data.description%>">
<input type="text" name="isbn" value="<%=data.isbn%>">
<input type="text" name="bookshelf" value="<%=data.bookshelf%>" >
<input type="submit"  value="update ">

</form>

</div>

<form  action="/delete/<%=data.id%>?_method=delete" method="POST">
    <button>DELETE</button>
</form>



</div>


</div>

</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../js/app.js" ></script>

</body>
</html>